<h2>Search Offers</h2>
<form action="/MixingCodeAndData/Search" method="post">
    <div class="input-group">
        <input type="text" name="title" id="title" class="form-control" placeholder="Search for offers...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search!</button>
        </span>
    </div>
</form>

<br />
<br />
<button class="btn" data-clipboard-text="Alchemy">
    Copy Cheat 1
</button>
<button class="btn" data-clipboard-text="Alchemy Cores Item#3368') and starts-with(code, '1">
    Copy Cheat 2
</button>


