<div class="row" style="position: relative">
    <div class="col-md-9">
        <h2>Search Offers</h2>
    </div>
    <div class="col-md-3" style="text-align: right; position: absolute; bottom: 10px; right: 0px;">
        <a href="https://github.com/bedirhan/antipatterns/blob/master/mixingcodeanddata.md" target="_blank">Reference</a>
    </div>
</div>

<form action="/MixingCodeAndData/Search" method="post">
    <div class="input-group">
        <input type="text" name="title" id="title" class="form-control" placeholder="Search for offers...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search!</button>
        </span>
    </div>
</form>

<br />
<br />
<button class="btn" data-clipboard-text="Alchemy">
    Copy Cheat 1
</button>
<button class="btn" data-clipboard-text="Alchemy Cores Item#3368') and starts-with(code, '1">
    Copy Cheat 2
</button>


