<h2>Search Portal</h2>
<form action="/WideningWhitelists/Search" method="post">
    <div class="input-group">
        <input type="text" name="search" id="search" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
        </span>
    </div>
</form>
<br />
<br />
<button class="btn" data-clipboard-text="<script>alert(1)</script>">
    Copy Cheat 1
</button>
<button class="btn" data-clipboard-text="'; alert(1) //">
    Copy Cheat 2
</button>
<button class="btn" data-clipboard-text='"*aler\u0074(1)*"'>
    Copy Cheat 3
</button>
<button class="btn" data-clipboard-text="&amp;#39&amp;#59&amp;#160alert&amp;#40 1 &amp;#41&amp;#47&amp;#47">
    Copy Cheat 4
</button>