<div class="row" style="position: relative">
    <div class="col-md-9">
        <h2>Search Portal</h2>
    </div>
    <div class="col-md-3" style="text-align: right; position: absolute; bottom: 10px; right: 0px;">
        <a href="https://github.com/bedirhan/antipatterns/blob/master/wideningwhitelistswithoutprecautions.md" target="_blank">Reference</a>
    </div>
</div>

@if (!String.IsNullOrEmpty(ViewBag.Search))
{
    <h4>
        You searched for
        <i style="cursor: pointer;" onclick="var term = '@Html.Raw(ViewBag.Search)'; document.location = '/WideningWhitelists/Search?search=' + escape(term)">
            @Html.Raw(ViewBag.Search)
        </i>
    </h4>
    <small>
        @ViewBag.Result
    </small>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/Blacklisting/Trend",
                headers:
            {
                'X-Company-Ajax': 'true'
                },
                data:
            {
            q: "@Html.Raw(ViewBag.Search)"
                }
        }).always(function(data) { });
    });
    </script>
}
<br />
<br />
<button class="btn" data-clipboard-text="<script>alert(1)</script>">
    Copy Cheat 1
</button>
<button class="btn" data-clipboard-text="'; alert(1) //">
    Copy Cheat 2
</button>
<button class="btn" data-clipboard-text='"*aler\u0074(1)*"'>
    Copy Cheat 3
</button>
<button class="btn" data-clipboard-text="&amp;#39&amp;#59&amp;#160alert&amp;#40 1 &amp;#41&amp;#47&amp;#47">
    Copy Cheat 4
</button>

