<div class="row" style="position: relative">
    <div class="col-md-9">
        <h2>Login Portal</h2>
    </div>
    <div class="col-md-3" style="text-align: right; position: absolute; bottom: 10px; right: 0px;">
        <a href="https://github.com/bedirhan/antipatterns/blob/master/insufficientwwwknowledge.md" target="_blank">Reference</a>
    </div>
</div>
<form action="/LackOfWWWKnowledge/Login" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" />
    </div>
    @if(ViewBag.ShowCaptcha == true)
    {
        <div class="form-group">
            <label for="captcha">Captcha</label>
            <input type="text" class="form-control" id="captcha" name="captcha" />
            <img src="~/Content/captcha.jpg"/>
        </div>
    }
    <button type="submit" class="btn btn-primary">Login</button>

    @if (!String.IsNullOrEmpty(ViewBag.Result))
    {
        <br/>
        <br />
        <div class="alert alert-danger" role="alert">@ViewBag.Result</div>
    }
</form>