<div class="row" style="position: relative">
    <div class="col-md-9">
        <h2>Login Portal</h2>
    </div>
    <div class="col-md-3" style="text-align: right; position: absolute; bottom: 10px; right: 0px;">
        <a href="https://github.com/bedirhan/antipatterns/blob/master/insufficientwwwknowledge.md" target="_blank">Reference</a>
    </div>
</div>
<h2>
    Welcome bedirhan@sourceflake.com,
</h2>
<div class="alert alert-success" role="alert">Successfull Login!</div>