<div style="font-size:174%">
    An anti-pattern is a common response to a recurring problem that is usually ineffective and highly
    counterproductive<a href="http://en.wikipedia.org/wiki/Anti-pattern">*</a>. In short, anti-patterns 
    are commonly reinvented bad solutions to problems.
    <br />

    <br />
    There are numerous anti-patterns in software security. A lot of us apply same insecure solutions to
    our code when trying to solve a problem or to prevent security weaknesses.
</div>