<div class="row" style="position: relative">
    <div class="col-md-9">
        <h2>Create New Offer</h2>
    </div>
    <div class="col-md-3" style="text-align: right; position: absolute; bottom: 10px; right: 0px;">
        <a href="https://github.com/bedirhan/antipatterns/blob/master/incompletemediation.md" target="_blank">Reference</a>
    </div>
</div>

<form action="/IncompleteMediation/Add" method="post">
    <div class="form-group">
        <label for="ID">Offer ID</label>
        <input type="text" class="form-control" disabled="disabled" id="ID" name="ID" />
    </div>
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" disabled="disabled" id="Title" name="Title" />
    </div>
    <div class="form-group">
        <label for="Total">Total</label>
        <input type="text" class="form-control" disabled="disabled" id="Total" name="Total" />
    </div>
    <div class="form-group">
        <label for="Reference">Reference</label>
        <input type="text" class="form-control" disabled="disabled" id="Reference" name="Reference" />
    </div>
    <button type="submit" class="btn btn-primary" disabled="disabled">Add</button>
</form>
<br/>

@if (!String.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
else
{
    <div class="alert alert-success" role="alert">@ViewBag.Result</div>
}